<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (head content) ... -->
    <script src="./app.js" defer></script> 
	<link rel="stylesheet" href="./app.css"/>
</head>
<body>
    <h1>Match The Fox Bride</h1>
	<button id="start-btn" class="start-btn">Start</button>
	<div class="timer-hd">Timer:</div>
	<div class="timer"></div>
	<div class="game-board"></div>
</body>
</html> 